{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}



{% block title %}Contact Us{% endblock %}
    {% block css %}
        {{ block.super }}
    {% endblock %}

    {% block headscripts %}
        {{ block.super }}
    {% endblock %}


{% block header %}
{{ block.super }}
{% endblock %}

{% block content %}
    <!--/header-->
    <main>
        <!--contact us-->
        <section class="bg-white lg:pt-11 pt-24 relative">
            <div id="contactLoader" class="fixed inset-0 flex items-center justify-center bg-black/50 z-40"
                style="display: none;">
                <img class="animate-spin" src="{% static './images/client-admin/spinner.svg'  %}" alt="loader">
            </div>
            <div class="container">
                <div class="flex flex-col-reverse md:flex-row gap-x-20 xl:gap-x-52 xl:px-16">
                    <div class="flex flex-col flex-1 max-w-[421px]">
                        <div class="flex flex-col order-last md:order-first mt-8 md:mt-0">
                            <div class="relative">
                                <div class="slide animate-fadeIn" style="display: block;">
                                    <img src="{% static './images/companiesfacts_1.png'  %}" alt="loading">
                                </div>
                                <div class="slide animate-fadeIn" style="display: none;">
                                    <img src="{% static './images/companiesfacts_2.png'  %}" style="width:100%" alt="loading">
                                </div>
                                <div class="slide animate-fadeIn" style="display: none;">
                                    <img src="{% static './images/companiesfacts_3.png'  %}" style="width:100%" alt="loading">
                                </div>
                            </div>
                            <div class="mt-5 flex items-center justify-end gap-x-5">
                                <span class="dot w-5 h-5 flex bg-neutral-300 rounded-full cursor-pointer active"
                                    onclick="currentSlide(1)"></span>
                                <span class="dot w-5 h-5 flex bg-neutral-300 rounded-full cursor-pointer"
                                    onclick="currentSlide(2)"></span>
                                <span class="dot w-5 h-5 flex bg-neutral-300 rounded-full cursor-pointer"
                                    onclick="currentSlide(3)"></span>
                            </div>
                        </div>
                        <div class="mt-0 md:mt-4">
                            <h3 class="text-neutral-800 text-4xl font-medium mb-6">Contact ( 24 x 7 )</h3>
                            <ul class="flex flex-col gap-y-4">
                                <li class="flex items-center text-tiny gap-x-3.5">
                                    <img src="{% static './images/email-xs.svg'  %}" alt="email">
                                    <div class="flex items-center gap-x-4">
                                        <a href="mailto:{{ site_variables.email |default_if_none:'' }}">{{ site_variables.email |default_if_none:"" }}</a>
                                        <span>(English Only)</span>
                                    </div>
                                </li>
                                <li class="flex items-center text-tiny gap-x-3.5">
                                    <img src="{% static './images/whatsapp-xs.svg'  %}" alt="whatsapp">
                                    <div class="flex items-center gap-x-4">
                                        <a href="https://wa.me/{{ site_variables.whatsapp |default_if_none:''}}?text=Hello {{site_variables.fulldomain |default_if_none:''}}, I have a question">{{ site_variables.phone1 |default_if_none:""}}</a>
                                        <span>(English Only)</span>
                                    </div>
                                </li>
                                <li class="flex items-center text-tiny gap-x-3.5">
                                    <img src="{% static './images/phone-xs.svg'  %}" alt="phone">
                                    <div class="flex items-center gap-x-4">
                                        <a href="tel:+919560330483">{{ site_variables.phone2 |default_if_none:""}}</a>
                                        <span>(English Only)</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="mt-6 md:mt-9">
                            <h3 class="text-neutral-800 text-4xl font-medium mb-4">Location</h3>
                            <p class="text-tiny">{{ site_variables.address_contact_page |default_if_none:""}}</p>
                            <!-- <ul class="mt-9 flex items-center gap-x-9">
                                <li>
                                    <a target="_blank" href="https://www.instagram.com/companiesfacts/">
                                        <img src="{% static './images/Insta.svg'  %}" alt="instagram">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://twitter.com/Companiesfacts">
                                        <img src="{% static './images/twitter.svg'  %}" alt="twitter">
                                    </a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://www.facebook.com/Companiesfacts">
                                        <img src="{% static './images/fb.svg'  %}" alt="facebook">
                                    </a>
                                </li>
                            </ul> -->
                        </div>
                    </div>
                    <form action="{% url 'send-email' %}" id="contact_form" method="post"
                        class="main-form flex-1" novalidate="">
                        {% csrf_token %}
                        <h3 class="font-medium text-4xl md:text-6xl text-gray-600 mb-5 md:mb-10">Contact us <span
                                class="font-light text-teal-600">(we reply within 6 hours)</span> </h3>
                        <div class="flex flex-col mb-2.5 md:mb-4">
                            <label class="text-md text-gray-600 mb-1.5">Your name</label>
                            <input name="name"
                                class="form-input text-base px-4 py-2.5 focus:outline-none border border-gray-300 shadow-input rounded-[4px] max-w-full md:max-w-[338px]"
                                type="text" maxlength="20" minlength="2" pattern="^[A-Za-z -]+$" autocomplete="off"
                                value="  " required="">
                            <span class="text-md text-red-500 invisible opacity-0 duration-200">Please fill correct
                                name</span>
                        </div>
                        <div class="grid xl:grid-cols-2 gap-x-10">
                            <div class="flex flex-col mb-2.5 md:mb-4">
                                <label class="text-md text-gray-600 mb-1.5">Your email Id</label>
                                <input name="email"
                                    class="form-input text-base px-4 py-2.5 focus:outline-none border border-gray-300 shadow-input rounded-[4px] max-w-full md:max-w-[338px]"
                                    type="email" maxlength="24" autocomplete="off" value="  " required="">
                                <span class="text-md text-red-500 invisible opacity-0 duration-200">Please use correct
                                    email format</span>
                            </div>
                            <div class="flex flex-col mb-2.5 md:mb-4">
                                <label class="text-md text-gray-600 mb-1.5">Your phone number with ISD code</label>
                                <input name="phone_number" value=""
                                    class="form-input phoneNumber text-base px-4 py-2.5 focus:outline-none border border-gray-300 shadow-input rounded-[4px]max-w-full md:max-w-[338px]"
                                    type="text" minlength="10" maxlength="15" autocomplete="off" required="">
                                <span class="text-md text-red-500 invisible opacity-0 duration-200">Please write correct
                                    mobile number</span>
                            </div>
                        </div>
                        <div class="flex flex-col mb-5 md:mb-7 relative">
                            <div class="absolute bottom-0 right-0 text-gray-400 text-md"><span id="count">0</span> /
                                1000</div>
                            <label class="text-md text-gray-600 mb-1.5">Tell us how can we help you</label>
                            <textarea name="message"
                                class="form-input text-base px-4 py-2.5 focus:outline-none border border-gray-300 shadow-input rounded-[4px] resize-none h-[135px]"
                                minlength="20" maxlength="1000" autocomplete="off" required=""></textarea>
                            <span class="text-md text-red-500 invisible opacity-0 duration-200">Message must be more min
                                20 chars long</span>
                        </div>
                        <div class="mb-[50px] md:mb-[80px]">
                            <button id="submitForm"
                                class="bg-teal-600 font-bold text-2xl md:text-4xl px-10 py-2 hover:bg-teal-700 duration-200 text-white text-center w-full md:w-auto rounded">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!-- /contact us -->
    </main>
    <!-- footer stars here -->
    {% endblock %}
    <!-- footer stars here -->

    <!--/footer-->

    {% block Samplecontent %}
    <!-- Sample report -->
    <div id="sampleReport" data-dismiss="sampleReport"
        class="modal duration-200 flex fixed inset-0 bg-backdrop transition-opacity z-50 overflow-hidden items-center justify-center p-4">
        <div class="bg-white border shadow-lg p-7 w-full max-w-[480px] relative">
            <button class="absolute right-5 top-5" data-dismiss="sampleReport">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.7734 11.4404L22.8809 21.5625L21.5625 22.8809L11.4404 12.7734L1.31836 22.8809L0 21.5625L10.1074 11.4404L0 1.31836L1.31836 0L11.4404 10.1074L21.5625 0L22.8809 1.31836L12.7734 11.4404Z"
                        fill="#737373" />
                </svg>
            </button>
            <!-- <div onclick="event.stopPropagation();">
                <h4 class="text-neutral-900 font-medium mb-5 text-2xl">Sample Reports (Hong Kong)</h4>
                <ul class="flex flex-col text-tiny gap-4">
                    <li class="flex items-center gap-3">
                        <p class="text-teal-900 text-15 leading-2">Change in Particulars lorem ipsum
                            ipsu</p>
                        <a class="bg-teal-600 text-white ml-auto px-3 py-2 font-bold rounded hover:bg-teal-700 duration-200"
                            href="https://www.facebook.com/">View in new tab</a>
                    </li>
                    <li class="flex items-center gap-3">
                        <p class="text-teal-900 text-15 leading-2">Change in Particulars lorem ipsum
                            ipsu</p>
                        <a class="bg-teal-600 text-white ml-auto px-3 py-2 font-bold rounded hover:bg-teal-700 duration-200"
                            href="https://www.facebook.com/">View in new tab</a>
                    </li>
                    <li class="flex items-center gap-3">
                        <p class="text-teal-900 text-15 leading-2">Change in Particulars lorem ipsum
                            ipsu</p>
                        <a class="bg-teal-600 text-white ml-auto px-3 py-2 font-bold rounded hover:bg-teal-700 duration-200"
                            href="https://www.instagram.com/">View in new tab</a>
                    </li>
                    <li class="flex items-center gap-3">
                        <p class="text-teal-900 text-15 leading-2">Change in Particulars lorem ipsum
                            ipsu</p>
                        <a class="bg-teal-600 text-white ml-auto px-3 py-2 font-bold rounded hover:bg-teal-700 duration-200"
                            href="https://www.instagram.com/">View in new tab</a>
                    </li>
                </ul>
            </div> -->
        </div>
    </div>
    <!--/sample report-->
    <!-- info report -->
    <div id="deliveryReport"
        class="modal duration-200 flex fixed inset-0 bg-backdrop transition-opacity z-50 overflow-hidden items-center justify-center p-4">
        <div class="bg-white border shadow-lg p-7 pr-14 max-w-[480px] w-full relative">
            <button class="absolute right-5 top-5" data-dismiss="deliveryReport">
                <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12.7734 11.4404L22.8809 21.5625L21.5625 22.8809L11.4404 12.7734L1.31836 22.8809L0 21.5625L10.1074 11.4404L0 1.31836L1.31836 0L11.4404 10.1074L21.5625 0L22.8809 1.31836L12.7734 11.4404Z"
                        fill="#737373" />
                </svg>
            </button>
            <div>
                <h5 class="font-medium mb-5 text-teal-600 text-base">Important:
                </h5>
                <p class="font-medium text-base mb-5 text-teal-600">Regarding delivery of reports:</p>
                <p class="text-tiny mb-5 text-gray-700">
                    <span class="text-base font-medium text-zinc-600"> Standard and Detailed Reports:</span> You will
                    receive the official report in {{ site_variables.country_name |default_if_none:""}}, along with English translated version by email within 24
                    hours of business working day.
                </p>
                <p class="mb-5 text-gray-700">If company incorporation detail is not found, we will refund within 24
                    hours. happens in very rare cases due</p>
                <p class="text-tiny">For any other info or question, please <a class="text-teal-500 font-bold"
                        href="{{ site_variables.contact_page_link |default_if_none:''}}">connect with
                        us</a></p>
            </div>
        </div>
    </div>
    {% endblock %}




    {% block footerscripts %}
    {{ block.super }}


        <script src="{% static './js/detailSuggestions.js'  %}"> </script>

    <!--/info report-->

    <script  src="{% static './js/main.js'  %}"></script>
    <script src="{% static './js/slideshow.js' %}"></script>
{% endblock %}
    <!--/footer-->
