{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Thank You{% endblock %}


  {% block css %}
    <!-- Include the common scripts from base -->
    {{ block.super }}

  {% endblock %}


  {% block header %}
  {{ block.super }}
  {% endblock %}


  {% block content %}

    <!--/header-->
    <main>
        <section class="bg-white py-16">
            <div class="container">
                <div class="flex justify-center">
                    <div class="flex flex-col text-center items-center max-w-2xl text-black md:text-4xl text-2xl">
                        <img class="mb-10" src="{% static './images/hand-shake.svg'  %}" alt="icon" />
                        {% if status == 'SUCCESS' %}
                            <h2 class="mb-3 sm:leading-8 leading-5 font-bold">Thank You!</h2>
                            <h2 class="mb-5 font-bold sm:leading-8 leading-5">The order has been placed successfully.</h2>
                            <p class="sm:leading-8 leading-5 font-light mb-5">Your payment transfer happened faster than the
                                speed of sound.<br class="hidden sm:inline-block" /> Isn't it awesome?</p>
                            <p class="font-bold mb-10 sm:leading-8 leading-5">Please check your e-mail receipt for more
                                details.</p>
                        {% else %}
                            <h2 class="mb-3 sm:leading-8 leading-5 font-bold">Sorry!</h2>
                            <h2 class="mb-5 font-bold sm:leading-8 leading-5" style="color: red;">The order has not been placed.</h2>
                            <p class="sm:leading-8 leading-5 font-light mb-5">Your payment wasn't successfull.</p>
                        {% endif %}


                        <a class="bg-teal-600 text-white hover:bg-teal-700 duration-300 leading-3 font-medium px-9 py-2.5 rounded"
                            href="{% url 'company-home' %}">Go back to Home Page Search</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- footer stars here -->
    {% endblock %}


  <!--/footer-->


    {% block footerscripts %}
    <!-- Include the common scripts from base -->
    {{ block.super }}
    <script src="{% static './js/detailSuggestions.js'  %}"> </script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> -->
        {% endblock %}